APP_URL=http://localhost:8085/jie-v2-api
APP_PORT=8085
DEBUG_MODE=true
NODE_ENV=development
#NODE_ENV=staging
#NODE_ENV=production

# MongoDB Database Variables
MONGODB_URL=mongodb://127.0.0.1:27017/jie_db_v2
MONGODB_PASSWORD=

# MySql Database Variables
MYSQL_HOSTNAME=127.0.0.1
MYSQL_DATABASE=jie_staging
MYSQL_USERNAME=root
MYSQL_PASSWORD=

# Redis Server Variables
REDIS_HOSTNAME=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=

JWT_KEY=JINp2r8o1j9e4c6t3h7a5n5d9le1d2b8y7v3t4p6l5
JWT_REFRESH_KEY=

# Socket
SOCKET_WHITELIST_URL=["http://localhost:8080", "https://stage.jobsineducation.net", "https://jobsineducation.net"]